.DS_Store
css/feature-icons.css
data/feature-icons.json
data/presets.yaml
data/presets.yaml
data/presets/categories.json
data/presets/defaults.json
data/presets/fields.json
data/presets/presets.json
data/taginfo.json
dist/iD.css
dist/iD.css
dist/iD.js
dist/iD.min.js
dist/imagery.js
dist/img/line-presets.png
dist/img/maki-sprite.png
dist/img/npmaki-sprite.png
dist/img/relation-presets.png
dist/presets.js
js/id/core/area_keys.js
node_modules
transifex.auth
npm-debug.log
js/id/npmap.js
