.DS_Store
dist/iD.css
dist/iD.js
dist/iD.min.js
dist/img/maki-sprite.png
dist/img/npmaki-sprite.png
node_modules
dist/iD.css
dist/presets.js
dist/imagery.js
transifex.auth
data/presets/categories.json
data/presets/fields.json
data/presets/presets.json
data/presets/defaults.json
data/presets.yaml
data/taginfo.json
css/feature-icons.css
data/feature-icons.json
data/presets.yaml
dist/img/relation-presets.png
dist/img/line-presets.png
css/img
js/id/core/area_keys.js
